.kandyVideo {
  float: left;
  margin-right: 10px;
}

.kandyVideo .video {
  display: block;
}

.kandyVideo .title {
  margin: 5px 0px;
}

.kandyButton {
  overflow: auto;
}

.kandyButton .kandyButtonComponent {
  margin: 15px 0px;
}

.kandyButton .kandyButtonComponent input {
  float: left;
  margin-right: 5px;
  width: 90px;
}

.kandyButton .kandyButtonComponent input[type='text'] {
  width: 250px;
}

.kandyButton .kandyButtonComponent input[type='button'] {
  cursor: pointer;
  width: 90px;
}

.kandyButton .kandyButtonComponent .someonesCalling {
  display: none;
}

.kandyButton .kandyButtonComponent .someonesCalling {
  display: none;
}

.kandyButton .kandyVideoButtonOnCall {
  display: none;
}

.kandyButton .kandyVideoButtonCalling {
  display: none;
}

.kandyButton .kandyVideoButtonSomeonesCalling {
  display: none;
}

.kandyButton .videoVoiceCallHolder {
  display: none;
}

/*KANDY ADDRESS BOOK */
.kandyAddressBook .kandyAddressContactList {
  background-color: lightslategray;
  border: 1px solid black;
  color: white;
  padding: 5px 10px;
}

.kandyAddressBook .kandyAddressContactList .myContacts Title {
  text-align: center;
  text-decoration: underline;
}

.kandyAddressBook .kandyDirectorySearch {
  margin-top: 20px;
}

.kandyAddressBook .kandyDirSearchTitle {
  text-align: center;
  text-decoration: underline;
}

.kandyAddressBook .kandyDirSearchResults {
  background-color: lightgray;
  border: 1px solid black;
  padding: 5px 10px;
}

.kandyAddressBook .userid {
  display: inline-block;
  width: 190px;
}

.kandyAddressBook .presence {
  display: inline-block;
  width: 130px;
}

.kandyAddressBook .kandyContactItem {
  padding: 5px;
}

.kandyAddressBook .kandySearchItem {
  padding: 5px;
}

.kandyStatus {
  margin-bottom: 10px;
}

/* KANDY CHAT STYLE */
.kandyChat .imUsername {
  display: inline-block;
}

.kandyChat .imMessageToSend {
  width: 96%;
}

.kandyChat .messages {
  border: solid black 1px;
}

.kandyChat .imMessage {
  display: inline-block;
}

.kandyChat .kandyMessages {
  height: 425px;
  overflow: auto;
  padding: 3px 5px;
  width: 100%;
}

.my-message {
  color: #0995ff;
}

.their-message {
  color: #f47063;
}

.kandyChat .chat-heading .contact-heading {
  margin-bottom: 10px;
}

.kandyChat .chat-heading .contact-heading label {
  display: inline-block;
}

.kandyChat .chat-heading .contact-heading select {
  display: inline-block;
  padding: 2px 0px;
  width: 110px;
}

.kandyChat .btnSendMessage {
  width: 100%;
}

.kandyChat .cd-tabs-navigation li a {
  text-indent: 16px;
}

.kandyChat .cd-tabs-navigation li i.status {
  display: block;
  font-size: 0.75rem;
  line-height: 1em;
  text-indent: 16px;
}

.kandyChat .cd-tabs-navigation li.kandy-chat-status-available a {
  background: url("../img/available.png") left center no-repeat;
}

.kandyChat .cd-tabs-navigation li.kandy-chat-status-offline a {
  background: url("../img/offline.png") left center no-repeat;
}

.kandyChat .cd-tabs-navigation li.kandy-chat-status-unavailable a,
.kandyChat .cd-tabs-navigation li.kandy-chat-status-away a,
.kandyChat .cd-tabs-navigation li.kandy-chat-status-busy a,
.kandyChat .cd-tabs-navigation li.kandy-chat-status-out-to-lunch a,
.kandyChat .cd-tabs-navigation li.kandy-chat-status-on-vacation a,
.kandyChat .cd-tabs-navigation li.kandy-chat-status-be-right-back a {
  background: url("../img/busy.png") left center no-repeat;
}

/* CSS for tab */

.cd-tabs {
  height: 480px !important;
  margin: 2em 0;
  max-width: 960px;
  position: relative;
}

.cd-tabs nav {
  box-shadow: inset 0px 0px 2px #aaaaaa;
  float: left;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0px;
  -webkit-box-shadow: inset 0px 0px 2px #aaaaaa;
  -moz-box-shadow: inset 0px 0px 2px #aaaaaa;
  width: 32%;
}

.cd-tabs-navigation {
  list-style: none;
  margin: 0;
  padding: 0px 3px !important;
  width: 100%;
}

.cd-tabs-navigation li {
  float: left;
  width: 98%;
}

.cd-tabs-navigation a {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff !important;
  color: #000000;
  display: block;
  font-size: 0.75rem;
  padding: 5px;
  position: relative;
}

.no-touch .cd-tabs-navigation a:hover {
  background-color: rgba(233, 230, 202, 0.3);
  font-weight: 700;
}

.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  font-weight: 700;
}

.cd-tabs-navigation a::before {
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  position: absolute; /* icons */
  top: 12px;
  width: 20px;
}

.cd-tabs-navigation a[data-content='inbox']::before {
  background-position: 0 0;
}

.cd-tabs-navigation a[data-content='new']::before {
  background-position: -20px 0;
}

.cd-tabs-navigation a[data-content='gallery']::before {
  background-position: -40px 0;
}

.cd-tabs-navigation a[data-content='store']::before {
  background-position: -60px 0;
}

.cd-tabs-navigation a[data-content='settings']::before {
  background-position: -80px 0;
}

.cd-tabs-navigation a[data-content='trash']::before {
  background-position: -100px 0;
}

.cd-tabs-navigation a[data-content='inbox'].selected::before {
  background-position: 0 -20px;
}

.cd-tabs-navigation a[data-content='new'].selected::before {
  background-position: -20px -20px;
}

.cd-tabs-navigation a[data-content='gallery'].selected::before {
  background-position: -40px -20px;
}

.cd-tabs-navigation a[data-content='store'].selected::before {
  background-position: -60px -20px;
}

.cd-tabs-navigation a[data-content='settings'].selected::before {
  background-position: -80px -20px;
}

.cd-tabs-navigation a[data-content='trash'].selected::before {
  background-position: -100px -20px;
}

.cd-tabs-content {
  background: #ffffff;
  float: left;
  height: 100%;
  margin: 0px !important;
  padding: 0px !important;
  width: 64%;
}

.cd-tabs-content li {
  display: none;
  padding: 0px 0px 0px 10px;
}

.cd-tabs-content li.selected {
  -moz-animation: cd-fade-in 0.5s;
  -webkit-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
  display: block;
}

.cd-tabs-content li p {
  color: #8493bf;
  font-size: 0.875rem;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 2em;
}


@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-message {
  float: left;
  width: 87%;
}

.button-send {
  float: right;
  width: 12%;
}

.clear-fix {
  clear: both;
}

.contact-heading {
  float: left;
  width: 32%;
}

.chat-with-message {
  display: none;
  float: left;
  padding-left: 10px;
}
